* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

p {
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 30px;
    font-size: 20px;
}

button {
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    display: block;
}

button:hover {
    cursor: pointer;
    background-color: red;
}

li:hover {
    cursor: pointer;
    box-shadow: 5px 7px;
}

.timer {
    float: right;
    border: 2px solid black;
    width: 200px;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    margin-top: -43px;
}

.scores a {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 30px;
    border: 2px solid black;
    padding: 5px;
    margin-top: 10px;
}

.scores {
    margin-top: 10px;
    margin-left: -10px;
}

.scores a:hover {
    background-color: red;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

#goBack{
    text-decoration: none;
    color: black;
    background-color: aqua;
}

#goBack:hover {
    background-color: red;
}

#displayQuestionOne {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#displayChoicesOne {
    font-size: 20px;
    display: block;
    margin: auto;
}

#displayQuestionTwo {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#displayQuestionThree {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#displayQuestionFour {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#displayQuestionFive {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

#results {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

